body {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 0;
}

h1 {
  font-size: 30px;
  margin-bottom: 25px;
}

.logo img {
  width: 100%;
}

/* map */
#map {
  width: 100%;
  height: 60vh;
  border-radius: 10px;
}

.terkepTarolo {
  background-color: #f1f1f1;
/*   display: flex; */
/*   justify-content: center; */
  padding: 10px;
}

section {
  display: grid;
  grid-template-columns: 80% 20%;
}

.terkepSection, .uticelokArticle {
  margin-top: 40px;
}

.uticelokArticle, .uticelokArticle h1 {
  text-align: right;
}

.uticelForm {
  margin-top: 60px;
}

.cimSearch {
  margin-top: 40px;
}

@media screen and (max-width: 1440px) {
  section {
    display: grid;
    grid-template-columns: 1fr;
  }

  h1 {
    text-align: center;
  }

  .uticelokArticle, .uticelokArticle h1 {
    text-align: center;
  }
}

@media screen and (max-width: 1405px) {
  .cimSearch, .uticelForm {
    margin:5%
  }
  
}

